:root{
  --corFundo: #030712;
}
*{
    padding: 0px;
    margin: 0px;
}
div#fe{
  float: left;
  padding-left: 100px;
}
div#be{
  float: right;
  padding-right: 100px;
}
.hp{
  --progress: 50;
  width: 420px;
  height: 15px;
  padding: 2px;
  background-color: #ffffff;
  display: flex;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 13px;
  border-radius: 10px;
}

.hp::before{
    content: "";
    width: calc(var(--progress) * 1%);
    background-image: linear-gradient(to right, #2e1065,#1e1b4b,#4a044e);
    border-radius: 10px;
  }

#java-script{
  --progress:90;
}
body{
    background-color: var(--corFundo);
    height: 1000px;
    color: white
}
.bloquinhos{
  margin-left: 1px;
  display: inline-block;
  height: 12px;
  width: 12px;
  background-color: white;
}
h5{
  float: left;
  text-align: center;
  padding-right: 10px;
}
#caixas{
  padding-left: 500px;
}
h3{
  text-align: center;
}
.bloquinhos-coloridos{
  margin-left: 1px;
  display: inline-block;
  height: 12px;
  width: 12px;
  background-image: linear-gradient(to right, #1e1b4b,#4a044e);
}

