*{
    padding: 0px;
    margin: 0px;
}
.hp{
    --progress:50;
    height: 50px;
    padding: 5px;
    background-color: #ccc;
    /* pseudo-elementos precisam de um
      conteúdo para terem altura.
      Como não teremos conteúdo no nosso
      pseudo-elemento, utilizar
      "display: flex" o força a
      ter a altura do elemento pai.
      */
    display: flex;
  }
  
  .hp::before{
    content: "";
    /* Por enquanto colocamos
      uma largura e uma cor
      com valores fixos
      */
    width: calc(var(--progress) * 1%);
    background-color: red;
  }
/*
  
menu{
    background-color: gray;
    width: 100%;
}
menu ul{
    text-align:right;
    list-style-type: none;
}
main{
    background-color: rgb(41, 146, 179);
    height: 1000px;
}
menu li{
    background-color: rgb(46, 46, 46);
    color: rgb(0, 0, 0);
    display: inline-block;
    padding: 10px;
    text-align: right;
}

header{
    background-color: aqua;
    display: inline;
}
*/