*{
    padding: 0px;
    margin: 0px;
}
div#fe{
  float: left;
  padding-left: 100px;
}
div#be{
  float: right;
  padding-right: 100px;
}
.hp{
  --progress: 50;
  width: 420px;
  height: 15px;
  padding: 2px;
  background-color: #ffffff;
  display: flex;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 13px;
}

.hp::before{
    content: "";
    width: calc(var(--progress) * 1%);
    background-image: linear-gradient(to right, #2e1065,#1e1b4b,#4a044e);
    /*background-color: hsl( calc(var(--progress) * 1.2) , 80%, 50%);*/
    transition: all 0.2s ease;
  }

#java-script{
  --progress:90;
}
  


  
menu{
    background-color: gray;
    width: 100%;
}
menu ul{
    text-align:right;
    list-style-type: none;
}
main{
    background-color: rgb(92, 92, 92);
    height: 1000px;
}
menu li{
    background-color: rgb(46, 46, 46);
    color: rgb(0, 0, 0);
    display: inline-block;
    padding: 10px;
    text-align: right;
}

header{
    background-color: aqua;
    display: inline;
}
